@font-face {
  font-family: "MarcellusSC-Regular.ttf";
  src: url("./Marcellus_SC/MarcellusSC-Regular.ttf");
}

@font-face {
  font-family: "NotoSerif-Regular.ttf";
  src: url("./Noto_Serif/NotoSerif-Regular.ttf");
}
@font-face {
  font-family: "Cardo-Regular.ttf";
  src: url("./Cardo/Cardo-Regular.ttf");
}

@font-face {
  font-family: "Pocket-Monk.otf";
  src:url("./chequered-ink_pocket-monk/Pocket\ Monk.otf")
}